<!-- Button trigger modal -->
<!--<button type="button"  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#terminalCmdInteractiveModal">-->
  <!--Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="terminalCmdInteractiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Terminal</h4>

                <div style="margin-top: 10px; margin-left: 20px;">
                    <div >
                        <span id="node_realtime_status" class="glyphicon glyphicon-remove-sign" style="color: red"></span>
                    <!--<span class="glyphicon glyphicon-remove-sign" style="color: red"></span>-->
                        <label id="terminal_node_name">Node Name</label>
                        <label>---</label>
                        <label id="terminal_node_ip">Node Ip</label>
                    </div>
                </div>
            </div>

            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="padding-left: 20px">
                        <div class="form-group">
                            <label class="col-md-2 control-label">AssociatedTask</label>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-6">
                                        <select class="form-control" name="associated_task" id="associated_task">
                                            <option value="">No Data</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 col-sm-6">
                                        <button class="btn btn-default" style="cursor: pointer;" id="execute_task_in_node">Execute
                                        </button>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <!--设置终端交互命令区域-->
                        <div class="form-group" style="margin-top: 60px; height: 300px;">
                            <label class="col-md-2 control-label" for="terminal_cmd_interactive">Terminal</label>
                            <div class="col-md-8">
                                <div class="terminal" id="terminal_cmd_interactive" name="terminal_cmd_interactive"
                                     style="display: block; outline: 0px; position: absolute;height: 300px; width: 100%;"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <!--<div class="col-lg-5 col-lg-offset-3">-->
                <button type="button" class="btn btn-primary" onclick="resetTerminal();"><span class="glyphicon glyphicon-repeat"></span></button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-off"></span></button>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>